/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #007bff;
  }
  
  p {
    color: #555;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  /* Estilos específicos para rss.html */
  .rss-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .rss-list {
    text-align: center;
  }
  
  .rss-list li {
    margin-bottom: 10px;
  }
  
  .rss-list img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  